<a href="https://colab.research.google.com/github/Manojpatil123/Manojpatil12/blob/main/SQL_Fundamentals_II_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

Select customer_id, sum(amount) from payment

where staff_id=2

group by customer_id, staff_id 

having sum(amount)>110

# <b> Question 2 :  How many films begin with the letter J?


select count(title) from film

where title like 'J%'

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

select customer_id, first_name,address_id from customer

where first_name like 'E%'

group by customer_id

having address_id<500

order by customer_id